<div>
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>#}
    <span class="label label-info">{{ tip.translation(app.request.locale).content }}</span>

    <a href="{{  path('tip_feedback', {'id': tip.id, 'feedback': 'like'}) }}"><i class="fa fa-thumbs-up" id="thumbs-up"></i></a>
    <a href="{{  path('tip_feedback', {'id': tip.id, 'feedback': 'dislike'}) }}"><i class="fa fa-thumbs-down" id="thumbs-down"></i></a>
</div>
